@import "tailwindcss";

html,
body {
  background-color: #061428;
  color: #e8eef2;
  background-image:
    linear-gradient(rgba(59, 155, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(59, 155, 255, 0.05) 1px, transparent 1px);
  background-size: 40px 40px;
}
